In [2]:
import pandas as pd

In [6]:
income = pd.read_csv("Cleansed/income.csv")

employment = pd.read_csv("Cleansed/employment.csv")

resignation = pd.read_csv("Cleansed/resignation.csv")

recruitment = pd.read_csv("Cleansed/recruitment.csv")

retrenchment = pd.read_csv("Cleansed/retrenchment.csv")

inflation = pd.read_csv("../Inflation/cpi_full.csv")

In [13]:
inflation = inflation.filter(["Year","All Items "]).rename(columns={"Year":"year",
                                                                  "All Items ": "inflation"})
inflation

    year  inflation
0   1991        3.4
1   1992        2.2
2   1993        2.3
3   1994        3.1
4   1995        1.7
5   1996        1.4
6   1997        2.0
7   1998       -0.3
8   1999        0.0
9   2000        1.3
10  2001        1.0
11  2002       -0.4
12  2003        0.5
13  2004        1.7
14  2005        0.5
15  2006        1.0
16  2007        2.1
17  2008        6.6
18  2009        0.6
19  2010        2.8
20  2011        5.2
21  2012        4.6
22  2013        2.4
23  2014        1.0
24  2015       -0.5
25  2016       -0.5
26  2017        0.6
27  2018        0.4
28  2019        0.6
29  2020       -0.2
30  2021        2.3

In [35]:
combined = pd.merge(income, employment, on=["year", "industry1"], how ="outer")
combined = pd.merge(combined, resignation, on=["year", "industry1"], how ="outer")
combined = pd.merge(combined, recruitment, on=["year", "industry1"], how ="outer")
combined = pd.merge(combined, retrenchment, on=["year", "industry1"], how ="outer")
combined = pd.merge(combined, inflation, on="year", how ="outer")

combined = combined.rename(columns={"percent":"income_%_change",
                       "rate_x":"resignation_change",
                       "rate_y":"recruitment_change",
                       "retrench":"retrench_total"}).fillna(0)
combined = combined.sort_values(by=["year"])

In [36]:
combined.to_csv("Cleansed/combined.csv", index=False)