In [2]:
import pandas as pd
import os

retrenchment - DONE
income - DONE - no others
employment - DONE
resignation - WIP - no construction
recruitment - WIP - no construction

In [308]:
retrenchment = pd.read_csv("retrenchment-by-industry-level-1.csv").replace("-", 0)
retrenchment

    year      industry1 retrench retrench_permanent retrench_term_contract
0   1998  manufacturing    20700              18930                   1770
1   1998   construction     2450               1210                   1240
2   1998       services     9630               8940                    690
3   1998         others       30                  0                     30
4   1999  manufacturing     8370               7990                    380
..   ...            ...      ...                ...                    ...
91  2020         others       40                 30                     10
92  2021  manufacturing     1710               1640                     70
93  2021   construction      240                210                     40
94  2021       services     6020               5580                    440
95  2021         others       50                 50                      0

[96 rows x 5 columns]

In [314]:
# retrenchment = retrenchment.drop(columns=["retrench_permanent", "retrench_term_contract"]).reset_index(drop=True)
retrenchment.to_csv("Cleansed/retrenchment.csv", index=False)

In [301]:
income = pd.read_csv("Annual Change In Income By Industry.csv").replace("-", 0).rename(columns={'Year':"year",
                                                                                               'Percentage':"percent"})

industry1 = []
for i in range(len(income)):
    if income.Industry[i] == "Manufacturing":
        industry1.append("manufacturing")
        
    elif income.Industry[i] == "Construction":
        industry1.append("construction")
        
    elif income.Industry[i] == "Wholesale Trade":
        industry1.append("services")
        
    elif income.Industry[i] == "Retail Trade":
        industry1.append("services")
        
    elif income.Industry[i] == "Transport And Storage":
        industry1.append("services")
    
    elif income.Industry[i] == "Accommodation":
        industry1.append("services")
    
    elif income.Industry[i] == "Food  Beverage Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Information And Communications":
        industry1.append("services")
        
    elif income.Industry[i] == "Financial And Insurance Services":
        industry1.append("services")
        
    elif income.Industry[i] == "Real Estate Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Professional Services":
        industry1.append("services")
        
    elif income.Industry[i] == "Administrative And Support Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Community Social And Personal Services":
        industry1.append("services")
    
    
    
industry = pd.DataFrame(industry1, columns=["industry1"])
income = pd.concat([income,industry], axis =1)
income

     year                                Industry  percent      industry1
0    2009                           Manufacturing     -0.3  manufacturing
1    2009                            Construction      1.6   construction
2    2009                         Wholesale Trade      0.5       services
3    2009                            Retail Trade      0.1       services
4    2009                   Transport And Storage     -5.1       services
..    ...                                     ...      ...            ...
164  2021        Financial And Insurance Services      4.1       services
165  2021                    Real Estate Services      2.7       services
166  2021                   Professional Services      5.3       services
167  2021     Administrative And Support Services      3.7       services
168  2021  Community Social And Personal Services      3.2       services

[169 rows x 4 columns]

In [304]:
# income = income.drop(columns="Industry")
income = income.groupby(["year", "industry1"]).mean().round(2)
income

income.to_csv("Cleansed/income.csv")

In [128]:
income.industry1.unique()

array(['manufacturing', 'construction', 'services'], dtype=object)

In [311]:
employment = pd.read_csv("mrsd_39_annual_ emp_chng_by_ind_and_res_stat_29072022.csv").replace("-", 0)
employment.employment_change = employment.employment_change.astype(float)
employment = employment.groupby(by =["year","industry1"]).sum().reset_index()
employment.employment_change = employment.employment_change.round(2)
employment

     year      industry1  employment_change
0    1991   construction               17.7
1    1991  manufacturing                1.3
2    1991         others               -0.1
3    1991       services               33.6
4    1992   construction               11.3
..    ...            ...                ...
119  2020       services              -91.1
120  2021   construction                4.3
121  2021  manufacturing               -1.6
122  2021         others                0.7
123  2021       services               36.7

[124 rows x 3 columns]

In [312]:
employment.industry1.unique()
employment.to_csv("Cleansed/employment.csv",index=False)

In [287]:
resignation = pd.read_csv("Resignation_rate.csv")
columns = resignation.columns[2:].to_list()
resignation

,Years,Total,Manufacturing,Services,Wholesale And Retail Trade,Transportation And Storage,Accommodation And Food Services,Information And Communications,Financial And Insurance Services,Real Estate Services,Professional Services,Administrative And Support Services,"Community, Social And Personal Services",Others,"Professionals, Managers, Executives & Technicians","Clerical, Sales & Service Workers","Production & Transport Operators, Cleaners & Labourers"
0,2021,1.7,1.5,1.8,1.8,1.4,3.2,2.0,1.4,2.1,1.7,3.1,1.1,1.1,1.3,2.5,1.9
1,2020,1.5,1.2,1.6,1.7,1.1,3.5,1.5,0.9,1.6,1.3,3.1,0.9,0.9,1.0,2.4,1.9
2,2019,1.8,1.5,1.8,1.8,1.4,3.4,1.6,1.2,2.5,1.7,3.5,1.0,1.2,1.2,2.6,2.1
3,2018,1.8,1.6,1.9,2.0,1.3,3.3,1.6,1.4,2.5,1.6,3.4,1.1,1.4,1.3,2.5,2.2
4,2017,1.8,1.5,1.9,2.0,1.3,3.6,1.6,1.3,2.7,1.5,3.6,1.0,1.4,1.2,2.6,2.2
5,2016,1.8,1.5,1.9,2.2,1.4,3.6,1.7,1.2,2.9,1.6,3.5,1.0,1.2,1.2,2.7,2.1
6,2015,1.9,1.5,2.0,2.2,1.5,4.0,1.8,1.3,3.1,1.8,3.4,1.1,1.4,1.3,2.8,2.1
7,2014,2.0,1.5,2.2,2.6,1.7,4.3,1.8,1.4,3.4,1.8,4.0,1.1,1.5,1.3,3.1,2.3
8,2013,2.0,1.5,2.2,2.9,1.7,4.1,2.0,1.4,3.0,1.8,3.8,1.1,1.5,1.3,3.1,2.2
9,2012,2.1,1.6,2.3,2.9,1.6,4.3,2.0,1.2,3.3,1.8,4.1,1.2,1.7,1.3,3.1,2.2
10,2011,2.0,1.6,2.2,2.6,1.6,4.2,1.9,1.5,3.2,1.8,3.9,1.2,1.7,1.4,3.0,2.1
11,2010,2.0,1.5,2.3,2.9,1.6,4.1,2.1,1.6,3.3,1.9,4.1,1.2,1.6,1.4,3.1,2.1
12,2009,1.8,1.5,1.9,2.4,1.3,3.8,1.6,1.1,2.9,1.6,3.3,1.0,2.0,1.1,2.7,1.9
13,2008,2.0,1.6,2.2,2.6,1.6,3.9,2.1,1.5,3.0,2.1,3.6,1.2,2.1,1.5,2.9,1.9
14,2007,2.0,1.5,2.3,2.7,1.4,4.4,2.3,1.9,3.2,2.2,3.7,1.2,1.5,1.6,3.0,1.9
15,2006,2.0,1.5,2.2,2.6,1.4,4.4,2.0,1.8,3.3,2.3,3.3,1.2,1.1,1.5,2.9,1.9

In [288]:
values = []
for col in columns:
    print(col)
    print(resignation[col].tolist())
    values.extend(resignation[col].tolist())
len(values)

Manufacturing
[1.5, 1.2, 1.5, 1.6, 1.5, 1.5, 1.5, 1.5, 1.5, 1.6, 1.6, 1.5, 1.5, 1.6, 1.5, 1.5]
Services
[1.8, 1.6, 1.8, 1.9, 1.9, 1.9, 2.0, 2.2, 2.2, 2.3, 2.2, 2.3, 1.9, 2.2, 2.3, 2.2]
Wholesale And Retail Trade
[1.8, 1.7, 1.8, 2.0, 2.0, 2.2, 2.2, 2.6, 2.9, 2.9, 2.6, 2.9, 2.4, 2.6, 2.7, 2.6]
Transportation And Storage
[1.4, 1.1, 1.4, 1.3, 1.3, 1.4, 1.5, 1.7, 1.7, 1.6, 1.6, 1.6, 1.3, 1.6, 1.4, 1.4]
Accommodation And Food Services
[3.2, 3.5, 3.4, 3.3, 3.6, 3.6, 4.0, 4.3, 4.1, 4.3, 4.2, 4.1, 3.8, 3.9, 4.4, 4.4]
Information And Communications
[2.0, 1.5, 1.6, 1.6, 1.6, 1.7, 1.8, 1.8, 2.0, 2.0, 1.9, 2.1, 1.6, 2.1, 2.3, 2.0]
Financial And Insurance Services
[1.4, 0.9, 1.2, 1.4, 1.3, 1.2, 1.3, 1.4, 1.4, 1.2, 1.5, 1.6, 1.1, 1.5, 1.9, 1.8]
Real Estate Services
[2.1, 1.6, 2.5, 2.5, 2.7, 2.9, 3.1, 3.4, 3.0, 3.3, 3.2, 3.3, 2.9, 3.0, 3.2, 3.3]
Professional Services
[1.7, 1.3, 1.7, 1.6, 1.5, 1.6, 1.8, 1.8, 1.8, 1.8, 1.8, 1.9, 1.6, 2.1, 2.2, 2.3]
Administrative And Support Services
[3.1, 3.1, 3.5, 3.4, 3.6, 3.5, 3.4, 4.0, 3.8, 4.1, 3.9, 4.1, 3.3, 3.6, 3.7, 3.3]
Community, Social And Personal Services
[1.1, 0.9, 1.0, 1.1, 1.0, 1.0, 1.1, 1.1, 1.1, 1.2, 1.2, 1.2, 1.0, 1.2, 1.2, 1.2]
Others
[1.1, 0.9, 1.2, 1.4, 1.4, 1.2, 1.4, 1.5, 1.5, 1.7, 1.7, 1.6, 2.0, 2.1, 1.5, 1.1]
Professionals, Managers, Executives & Technicians
[1.3, 1.0, 1.2, 1.3, 1.2, 1.2, 1.3, 1.3, 1.3, 1.3, 1.4, 1.4, 1.1, 1.5, 1.6, 1.5]
Clerical, Sales & Service Workers
[2.5, 2.4, 2.6, 2.5, 2.6, 2.7, 2.8, 3.1, 3.1, 3.1, 3.0, 3.1, 2.7, 2.9, 3.0, 2.9]
Production & Transport Operators, Cleaners & Labourers
[1.9, 1.9, 2.1, 2.2, 2.2, 2.1, 2.1, 2.3, 2.2, 2.2, 2.1, 2.1, 1.9, 1.9, 1.9, 1.9]

240

In [289]:
new_col= []

for col in columns:
    new_col.extend([col] * 16)

years =[]
for i in range(2006, 2022):
    years.append(i)
years = years * 15

resignation= pd.DataFrame({"year":years, "industry1":new_col, "rate":values})
resignation

     year                                          industry1  rate
0    2006                                      Manufacturing   1.5
1    2007                                      Manufacturing   1.2
2    2008                                      Manufacturing   1.5
3    2009                                      Manufacturing   1.6
4    2010                                      Manufacturing   1.5
..    ...                                                ...   ...
235  2017  Production & Transport Operators, Cleaners & L...   2.1
236  2018  Production & Transport Operators, Cleaners & L...   1.9
237  2019  Production & Transport Operators, Cleaners & L...   1.9
238  2020  Production & Transport Operators, Cleaners & L...   1.9
239  2021  Production & Transport Operators, Cleaners & L...   1.9

[240 rows x 3 columns]

In [290]:
resignation.industry1.unique()

array(['Manufacturing', 'Services', 'Wholesale And Retail Trade',
       'Transportation And Storage', 'Accommodation And Food Services',
       'Information And Communications',
       'Financial And Insurance Services', 'Real Estate Services',
       'Professional Services', 'Administrative And Support Services',
       'Community, Social And Personal Services', 'Others',
       'Professionals, Managers, Executives & Technicians',
       'Clerical, Sales & Service Workers',
       'Production & Transport Operators, Cleaners & Labourers'],
      dtype=object)

In [291]:
for i in range(len(resignation)):
    if resignation.industry1[i] == "Manufacturing":
        resignation.industry1[i] = "manufacturing"
        
    elif resignation.industry1[i] == "Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Wholesale And Retail Trade":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Transportation And Storage":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Accommodation And Food Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Information And Communications":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Financial And Insurance Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Real Estate Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Professional Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Administrative And Support Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Community, Social And Personal Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Others":
        resignation.industry1[i] = "others"
    
    elif resignation.industry1[i] == "Professionals, Managers, Executives & Technicians":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Clerical, Sales & Service Workers":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Production & Transport Operators, Cleaners & Labourers":
        resignation.industry1[i] = "services"
    
    
    
    
    
resignation.industry1.unique()

/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "manufacturing"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "others"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_6361/3086691110.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"

array(['manufacturing', 'services', 'others'], dtype=object)

In [293]:
resignation = resignation.groupby(["year", "industry1"]).mean().round(2)
# resignation.to_csv("Cleansed/resignation.csv")
resignation

                    rate
year industry1
2006 manufacturing  1.50
     others         1.10
     services       1.95
2007 manufacturing  1.20
     others         0.90
     services       1.73
2008 manufacturing  1.50
     others         1.20
     services       1.98
2009 manufacturing  1.60
     others         1.40
     services       2.01
2010 manufacturing  1.50
     others         1.40
     services       2.04
2011 manufacturing  1.50
     others         1.20
     services       2.08
2012 manufacturing  1.50
     others         1.40
     services       2.18
2013 manufacturing  1.50
     others         1.50
     services       2.38
2014 manufacturing  1.50
     others         1.50
     services       2.35
2015 manufacturing  1.60
     others         1.70
     services       2.41
2016 manufacturing  1.60
     others         1.70
     services       2.35
2017 manufacturing  1.50
     others         1.60
     services       2.44
2018 manufacturing  1.50
     others         2.00
     services       2.05
2019 manufacturing  1.60
     others         2.10
     services       2.32
2020 manufacturing  1.50
     others         1.50
     services       2.45
2021 manufacturing  1.50
     others         1.10
     services       2.37