In [1]:
import pandas as pd
from functools import reduce

In [2]:
income = pd.read_csv("../Cleansed/income.csv")

employment = pd.read_csv("../Cleansed/employment.csv")

resignation = pd.read_csv("../Cleansed/resignation.csv")

recruitment = pd.read_csv("../Cleansed/recruitment.csv")

retrenchment = pd.read_csv("../Cleansed/retrenchment.csv")

inflation = pd.read_csv("../Raw Data/cpi_full.csv")

In [3]:
inflation = inflation.filter(["Year","All Items "]).rename(columns={"Year":"year",
                                                                  "All Items ": "inflation"})
inflation

    year  inflation
0   1991        3.4
1   1992        2.2
2   1993        2.3
3   1994        3.1
4   1995        1.7
5   1996        1.4
6   1997        2.0
7   1998       -0.3
8   1999        0.0
9   2000        1.3
10  2001        1.0
11  2002       -0.4
12  2003        0.5
13  2004        1.7
14  2005        0.5
15  2006        1.0
16  2007        2.1
17  2008        6.6
18  2009        0.6
19  2010        2.8
20  2011        5.2
21  2012        4.6
22  2013        2.4
23  2014        1.0
24  2015       -0.5
25  2016       -0.5
26  2017        0.6
27  2018        0.4
28  2019        0.6
29  2020       -0.2
30  2021        2.3

In [4]:
concat_list = [income, employment, resignation, recruitment, retrenchment]
combined = reduce(lambda  left,right: pd.merge(left,right,on=["year", "industry1"]), concat_list)
combined = pd.merge(combined, inflation, on="year")

combined = combined.rename(columns={"percent":"income_%_change",
                       "rate_x":"resignation_change",
                       "rate_y":"recruitment_change",
                       "retrench":"retrench_total"})
combined = combined.sort_values(by=["year"]).dropna()

In [5]:
combined

,year,industry1,income_%_change,employment_change,resignation_change,recruitment_change,retrench_total,inflation
0,2009,manufacturing,-0.30,-42.6,1.60,1.90,13640,0.6
1,2009,services,-0.71,57.3,2.01,2.61,8720,0.6
2,2010,manufacturing,4.90,4.5,1.50,1.80,4490,2.8
3,2010,services,5.34,110.2,2.04,2.48,3960,2.8
4,2011,manufacturing,4.10,5.8,1.50,1.60,4460,5.2
5,2011,services,5.47,94.1,2.08,2.58,4430,5.2
6,2012,manufacturing,3.70,8.4,1.50,1.60,4050,4.6
7,2012,services,4.00,78.6,2.18,2.79,6300,4.6
8,2013,manufacturing,4.40,4.8,1.50,1.80,5000,2.4
9,2013,services,5.49,91.2,2.38,3.03,5430,2.4
10,2014,manufacturing,4.90,-3.9,1.50,1.90,3970,1.0
11,2014,services,5.05,118.5,2.35,3.02,7260,1.0
13,2015,services,4.13,45.6,2.41,3.08,8510,-0.5
12,2015,manufacturing,3.10,-21.1,1.60,1.90,5210,-0.5
14,2016,manufacturing,1.70,-14.3,1.60,2.00,6280,-0.5
15,2016,services,3.47,42.8,2.35,3.18,10880,-0.5
16,2017,manufacturing,4.20,-10.9,1.50,2.00,3790,0.6
17,2017,services,3.69,46.0,2.44,3.25,8900,0.6
18,2018,manufacturing,4.20,-2.4,1.50,1.50,2570,0.4
19,2018,services,4.65,54.9,2.05,2.55,6960,0.4
20,2019,manufacturing,3.10,-2.1,1.60,2.00,2790,0.6
21,2019,services,4.07,59.4,2.32,3.18,7000,0.6
22,2020,manufacturing,1.30,-37.8,1.50,2.30,5320,-0.2
23,2020,services,0.64,-91.1,2.45,3.36,19760,-0.2
24,2021,manufacturing,4.00,-1.6,1.50,2.40,1710,2.3
25,2021,services,3.74,36.7,2.37,3.26,6020,2.3

In [6]:
combined.to_csv("../Cleansed/combined.csv", index=False)